// Variables
$background: #FFF;
$green: #3c948b;
$green-2:#38922d;
$green-3:#307b27;
// Font
$font: 'Arvo', sans-serif;

// Width Variables
$w-desktop: 1024px;
$w-tablet: 767px;
$w-mobile: 480px;

// Common Margin & Paddings
$p-desktop:20px;
$p-tablet: 15px;
$p-mobile: 10px;
