// footer
footer{
    background: $green;
    text-align: center;
    padding:10px 0;
    a{
        color:#FFF;   
    }
    ul{
        list-style: none;
    }
    li{
        display:inline-block;
        margin:0 10px;
    }
}